* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

[class ^= fa] {
  font-size: 10rem;
}

#app {
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.temp {
  margin-top: auto;
}